.layoutContainer {
  width: 100%;
  height: 100%;
  display: grid;
  /* grid-template-columns: 0.2fr repeat(5, 1fr) 0.2fr;
  grid-template-rows: 1fr repeat(6, 1fr) auto; */

  grid-template-columns: 1.5fr repeat(4, 1fr) 1.5fr;
  grid-template-rows: 200px auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: inherit;
}

.layoutSidebar {
  grid-area: 1 / 1 / 3 / 2;
}
.layoutHeader {
  grid-area: 1 / 1 / 2 / 7;
  z-index: 1500;
}
.layoutMain {
  grid-area: 2 / 2 / 3 / 6;
  background-color: hsla(0, 0%, 74%, 0.021);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-bottom: 200px;
}

.layoutRight {
  grid-area: 2 / 7 / 3 / 8;
}

.layoutFooter {
  grid-area: 3 / 1 / 4 / 8;
  color: #bbbbbb51;
  text-align: center;
  margin-bottom: 20px;
}

@media screen and (max-width: 900px) {
  .layoutContainer {
    grid-template-columns: 100%;
    gap: 0;
  }

  .layoutSidebar {
    grid-area: 0;
    display: none;
  }

  .layoutMain {
    grid-area: 2 / 1 / 3 / 5;
    margin: 20px 20px 20px 20px;
  }

  .layoutSidebarMobile {
    grid-column: span 5;
    transition: (-webkit-transform ease 250ms);
    transition: (transform ease 250ms);
  }

  .layoutFooter {
    margin-top: 50px;
  }
}
